@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the DevBuild Movie Database</h1>
    <p>Please navigate to the <a asp-action="MovieForm">Movie Submission Form Page</a> to add a movie.</p>
</div>
